# .env
.env

# c program
# c/hello
# c/eod
# c/add
# c/file
c/*

# c/a.out

# c/*.o

!c/*.c
!c/lib
!c/makefile
c/makefile/*
# c/makefile/*.o
!c/makefile/*.c
!c/makefile/*.h
!c/makefile/Makefile*
# c/makefile/*.*
# !c/makefile/Makefile*

!c/meta
c/meta/*
!c/meta/*.c
!c/meta/Makefile


# Java
**/*.class